<ion-view title="Cari" id="page18" style="">
  <ion-content padding="true" class="has-header">
    <form id="cari-form15" class="list">
      <label class="item item-select" id="cari-select6">
        <span class="input-label">Kategori</span>
        <select></select>
      </label>
      <ion-item class="range range-positive" id="cari-range2">Jarak
        <input value="50" min="0" max="100" step="1" type="range">
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="cari-toggle1">Tentukan Nama</ion-toggle>
      <label class="item item-input" id="cari-input35">
        <span class="input-label">Input</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <button id="cari-button16" class="button button-positive  button-block">Cari </button>
  </ion-content>
</ion-view>