<ion-view title="Daftar" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="daftar-list1">
      <label class="item item-input" id="daftar-input9">
        <span class="input-label">Nama</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="daftar-input10">
        <span class="input-label">Email</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="daftar-input12">
        <span class="input-label">Kontak</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="daftar-input11">
        <span class="input-label">Password</span>
        <input placeholder="" type="text">
      </label>
    </ion-list>
    <button id="daftar-button3" class="button button-positive button-small button-block">Upload Gambar</button>
    <div class="spacer" style="width: 283px; height: 125px;"></div>
    <a ui-sref="login" id="daftar-button12" class="button button-positive  button-block">Selesai</a>
  </ion-content>
</ion-view>