<ion-view title="Lihat Sekitar" id="page16" style="">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <ion-list id="lihatSekitar-list8">
      <ion-item class="range range-stable" id="lihatSekitar-range1">Range
        <input value="50" min="0" max="100" step="1" type="range">
      </ion-item>
      <ion-item class="item-icon-left" id="lihatSekitar-list-item16" ui-sref="detilUsaha" style="">
        <i class="icon ion-android-pin"></i>Tempat 1</ion-item>
      <ion-item class="item-icon-left" id="lihatSekitar-list-item17" ui-sref="detilUsaha" style="">
        <i class="icon ion-android-pin"></i>Tempat 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>