<ion-view title="Lihat  Daftar" id="page15" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-search "></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="lihatDaftar-form14" class="list">
      <label class="item item-input" id="lihatDaftar-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Cari Daftar" type="search">
      </label>
    </form>
    <ion-list id="lihatDaftar-list7">
      <ion-item id="lihatDaftar-list-item13" ui-sref="detilUsaha" style="">Item 1</ion-item>
      <ion-item id="lihatDaftar-list-item14" ui-sref="detilUsaha" style="">Item 2</ion-item>
      <ion-item id="lihatDaftar-list-item15" ui-sref="detilUsaha" style="">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>

