<ion-view title="Login" id="page2" style="">
  <ion-content scroll="false" padding="true">
    <form id="login-form2" class="list">
      <label class="item item-input" id="login-input3">
        <span class="input-label">Email</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="login-input7">
        <span class="input-label">Pengelola</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <a ui-sref="tabpengelola" id="login-button2" class="button button-positive button-block">Login</a>
    <p>
      <a ui-sref="editPengelola">Belum punya akun ?</a>
    </p>
  </ion-content>
</ion-view>


