<ion-view title="Pengelola"id="pengelola" style="">

  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-clear icon ion-android-settings" ui-sref="editPengelola"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283px; height: 23px;"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 0px; height: 0px;"></div>
    <ion-list id="pengelola-list10">
      <ion-item class="item-avatar" id="pengelola-list-item5" style="">
        <h2>Nama Pengelola</h2>
      </ion-item>
      <ion-item class="item-divider" id="pengelola-list-item-divider1"> Item</ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 46px;"></div>

  </ion-content>
</ion-view>