<ion-view title="Rental" id="page9" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="rental-list6">

      <ion-item class="item-thumbnail-left" id="rental-list-item4" ui-sref="itemRental" style="">
        <h2>Item Rental</h2>
        <p>Harga</p>
        <ion-option-button class="button-assertive icon ion-trash-a "> Delete </ion-option-button>
         <ion-option-button class="button-blue icon ion-edit" ui-sref="editUsaha"> Edit </ion-option-button> 
      </ion-item>
      
    </ion-list>

    <a ui-sref="tambahItemRental" id="rental-button64" class="button button-positive  button-block">Tambah Item</a>
    <button id="rental-button67" class="button button-positive  button-block">Hapus Item</button>
  </ion-content>
</ion-view>