
<ion-view title="Tambah Usaha" id="tambahUsaha" style="">
<ion-nav-bar >
   
</ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <form id="tambahUsaha-form26" class="list">
      <label class="item item-input" id="tambahUsaha-input58">
        <span class="input-label">Nama Usaha</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-select" id="tambahUsaha-select11">
        <span class="input-label">Kategori</span>
        <select>
          <option>Travel</option>
          <option>Rental</option>
        </select>
      </label>
      <label class="item item-input" id="tambahUsaha-input59">
        <span class="input-label">Alamat</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="tambahUsaha-input60">
        <span class="input-label">Latitude</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="tambahUsaha-input61">
        <span class="input-label">Longitude</span>
        <input placeholder="" type="text">
      </label>
      <button id="tambahUsaha-button61" class="button button-positive button-small button-block">Tetapkan Lokasi</button>
    </form>
    <button id="tambahUsaha-button62" class="button button-dark button-small button-block">Upload Gambar</button>
    <form id="tambahUsaha-form27" class="list">
      <label class="item item-input" id="tambahUsaha-textarea12">
        <span class="input-label">Deskripsi usaha</span><textarea placeholder=""></textarea></label>
      <button id="tambahUsaha-button63" class="button button-positive  button-block">Selesai</button>
    </form>
  </ion-content>
</ion-view>
