<ion-view title="List Travel" id="List Travel" style="">

  
  <ion-nav-buttons side="right" class="has-header"  > 
    <button class="button button-icon icon ion-android-add" ui-sref="tambahItemTravel"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left" class="has-header" > 
    <button class="button button-icon icon ion-ios-arrow-back" ng-click = "goBack()"></button>
  </ion-nav-buttons>


  <ion-content padding="true" class="has-header">
    <ion-list can-swipe="true" >

      <ion-item class="item-thumbnail-left" id="usaha-list-item2" ui-sref="itemTravel" style="">
        <h2>Tujuan Travel</h2>
        <p>Biaya : </p>
        <ion-option-button class="button-assertive icon ion-trash-a "> Delete </ion-option-button>
         <ion-option-button class="button-blue icon ion-edit" ui-sref="editItemTravel"> Edit </ion-option-button> 
      </ion-item>


    </ion-list>
  </ion-content>



</ion-view>

