<ion-view title="Detail Info" id="page35" style="">
  <ion-nav-buttons side="right" class="has-header">
    
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <p>Judul :</p>
    <p>Waktu Posting :</p>
    <p>Sumber Info : <a ui-sref="app.umum-detilusaha">Sumber</a></p>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>

    <div id="detailInfo-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnis enim est natura diligens sui. Erat enim Polemonis. Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Quare hoc videndum est, possitne nobis hoc ratio philosophorum
        dare. &lt;/p&gt;</p>
      </div>
  </ion-content>

</ion-view>