
<ion-view title="Detil Usaha">
      <div>
         <div class="item item-avatar detil ukurandetil">
            <img style="max-width: 115px;max-height: 115px;width:100%;height: 100%;border-radius: 50%;margin: 45px 30%;" ng-src="https://dummyimage.com/600x400/d3d3d3/000000.jpg&text=?" ng-if="!dataEditUsaha.img_usaha"> 
            <img style="max-width: 115px;max-height: 115px;width:100%;height: 100%;border-radius: 50%;margin: 33px 30%;" ng-src="{{ApiEndpoint.main+'img/'+dataEditUsaha.img_usaha}}" ng-if="dataEditUsaha.img_usaha">
        </div>  
          <p style="text-align: center;">{{dataEditUsaha.nama_usaha}}</p>
          
          <p style="text-align: center;" ui-sref="app.umum-carilokasi"><i class="icon ion-ios-location "></i>&nbsp;{{ dataEditUsaha.alamat_usaha }}</p>
          
        <div class="tabs-striped tabs-background-energized tabs-color-light">
          <div class="tabs tab-detilusaha" >
            <a class="tab-item tab-item-usaha" ng-class="{ 'active' : ftype=='info' }" ng-click="changeItem('info')">
              Info Usaha
            </a>
            <a class="tab-item tab-item-usaha" ng-if="dataEditUsaha.kategori_usaha == 'rental'"  ng-class="{ 'active' : ftype=='item' }" ng-click="changeItem('item')">
              Item Rental
            </a>
            <a class="tab-item tab-item-usaha" ng-if="dataEditUsaha.kategori_usaha == 'travel'"  ng-class="{ 'active' : ftype=='item' }" ng-click="changeItem('item')">
              Item Travel
            </a>
          </div>
        </div>
      </div>
   <ion-content style="top:306px;" >
    <div ng-if="ftype=='info'">
      <div class="item item-divider text-center" ng-if="!feeds.length">
        Belum ada info dari usaha ini
      </div>  
      <div class="list" ng-repeat="data in feeds" >
           <div class="item item-thumbnail-right" ng-click="showDetailInfo(data)" >
             <img ng-src="https://dummyimage.com/600x400/d3d3d3/000000.jpg&text=?" ng-if="!data.photos.length">
              <img ng-src="{{ApiEndpoint.main+'img/'+photo.nama_gambar}}"ng-repeat="photo in data.photos" ng-if="data.photos.length" >
                <h2>{{ data.judul_info }}</h2>
                <p style="max-height: 62px;max-width: 202px !important;white-space:normal;">{{ data.isi_info }}</p>
            <div class="item item-avatar absolute pertama ">
              <h5>Di muat pada :</h5>
              <h6>{{data.created_at}}</h6>
            </div>
            </div>
      </div>
    </div>
    <div ng-if="ftype=='item'">
      <div class="item item-divider text-center" ng-if="!items.length">
        Belum ada items dari usaha ini
      </div>
      <div class="list">
         <ion-item class="item-thumbnail-left" ng-if="dataEditUsaha.kategori_usaha == 'rental'" ng-repeat="data in items track by $index" ng-click="showDetailRental(data)">
              <img src="https://dummyimage.com/600x400/d3d3d3/000000.jpg&text=?" ng-if="!data.photos.length"> 
              <img ng-src="{{ApiEndpoint.main+'img/'+photo.nama_gambar}}" ng-show="$index==0" ng-if="data.photos.length" ng-repeat="photo in data.photos">
              <h2>{{ data.namakendaraan_itemrental }}</h2>
              <p>Per-{{ data.satuanharga_itemrental}} </p>
              <p>{{ data.harga_itemrental | currency : 'Rp.' }}</p>
          </ion-item>
          <ion-item class="item-thumbnail-left" ng-if="dataEditUsaha.kategori_usaha == 'travel'" ng-repeat="data in items track by $index" ng-click="showDetailTravel(data)">
            <img src="https://dummyimage.com/600x400/d3d3d3/000000.jpg&text=?" ng-if="!data.photos.length"> 
            <img ng-src="{{ApiEndpoint.main+'img/'+photo.nama_gambar}}" ng-show="$index==0" ng-if="data.photos.length" ng-repeat="photo in data.photos">
            <h2>Yogyakarta - {{ data.tujuan_itemtravel }}</h2>
            <p>Tanggal Berangkat : {{ data.waktu_itemtravel }}</p>
            <p>Biaya : Rp.&nbsp;{{ data.harga_itemtravel }}</p>
        </ion-item>
      </div>
    </div>  
  </ion-content>
</ion-view>
