<ion-view title="Edit Info Usaha" id="page32" style="">
  <ion-content padding="true" class="has-header">
    <form name="formUpdataInfo" ng-submit="updateInfo(formUpdataInfo.$valid,brand)" class="list">

      <label class="item item-input" id="editInfoUsaha-textarea14">
        <span class="input-label">Isi Info</span><br>
        <input placeholder="" type="text" ng-model="brand.nama_usaha" required>
      </label>
    </form>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button ng-disabled="formUsaha.$invalid || usahaEditInfo.status" class="button button-positive  button-block">{{ usahaEditInfo.text }}</button>
  </ion-content>
</ion-view>