<ion-view title="Edit Info Usaha" id="page32" style="">
  <ion-content padding="true" class="has-header">
    <form id="editInfoUsaha-form29" class="list">

      <label class="item item-input" id="editInfoUsaha-textarea14">
        <span class="input-label float">Isi Info</span><br>
        <textarea placeholder=""></textarea></label>
    </form>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <a ui-sref="infoUsaha" id="editInfoUsaha-button76" class="button button-positive  button-block">Selesai</a>
  </ion-content>
</ion-view>