<ion-view title="Edit Pengelola" id="page20" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="editPengelola-list9">
      <label class="item item-input" id="editPengelola-input15">
        <span class="input-label">Nama</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editPengelola-input17">
        <span class="input-label">Email</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editPengelola-input36">
        <span class="input-label">Kontak</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="editPengelola-input37">
        <span class="input-label">Password</span>
        <input placeholder="" type="text">
      </label>
    </ion-list>
    <button id="editPengelola-button17" class="button button-positive button-small button-block">Upload Gambar</button>
    <div class="spacer" style="width: 283px; height: 125px;"></div>
    <button id="editPengelola-button18" class="button button-positive  button-block">Selesai</button>
  </ion-content>
</ion-view>