<ion-view title="Info Usaha" id="page26" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="infoUsaha-list15">
      <ion-item class="item-thumbnail-left" id="infoUsaha-list-item32" ui-sref="itemInfo" style="">
        <h2>Judul</h2>
        <p>Isi</p>
        <ion-option-button class="button-assertive icon ion-trash-a "> Delete </ion-option-button>
         <ion-option-button class="button-blue icon ion-edit" ui-sref="editUsaha"> Edit </ion-option-button>  
      </ion-item>
    </ion-list>
    <a ui-sref="tambahInfoUsaha" id="infoUsaha-button73" class="button button-positive  button-block">Tambah Info</a>
    <button id="infoUsaha-button74" class="button button-positive  button-block">Hapus Info</button>
  </ion-content>
</ion-view>