<ion-view title="Item Rental" id="page27" style="">
  <ion-content padding="true" class="has-header">
    <form id="itemRental-form16" class="list">
      <label class="item item-input" id="itemRental-input50">
        <span class="input-label">Nama Kendaraan</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="itemRental-input51">
        <span class="input-label">Jenis Kendaraan</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="itemRental-input52">
        <span class="input-label">Satuan Sewa</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-select" id="itemRental-select10">
        <span class="input-label">Bahan Bakar</span>
        <select>
          <option>Solar</option>
          <option>Bensin</option>
          <option>Pertamax</option>
          <option>Lainnya</option>
        </select>
      </label>
      <label class="item item-input" id="itemRental-input53">
        <span class="input-label">Harga</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <form id="itemRental-form23" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <label class="item item-input" id="itemRental-textarea10">
        <span class="input-label">Deskripsi</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>