<ion-view title="Item Travel" id="page28" style="">
  <ion-content padding="true" class="has-header">
    <form id="itemTravel-form24" class="list">
 
      <label class="item item-input" id="itemTravel-input54">
        <span class="input-label">Tujuan</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="itemTravel-input55">
        <span class="input-label">Kendaraan</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="itemTravel-input56">
        <span class="input-label">Waktu Tempuh</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="itemTravel-input57">
        <span class="input-label">Tarif</span>
        <input placeholder="" type="text">
      </label>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </form>
    <form id="itemTravel-form25" class="list">
      <label class="item item-input" id="itemTravel-textarea11">
        <span class="input-label">Fasilitas</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>