<ion-view title="Lihat Info" >

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

      <div class="tabs">
        <a class="tab-item" ng-class="{ 'active' : type=='travel' }" ng-click="changeFeed('travel')">
          Travel
        </a>
        <a class="tab-item" ng-class="{ 'active' : type=='rental' }" ng-click="changeFeed('rental')">
          Rental
        </a>
      </div>
    </div>

    <ion-content class="has-subheader ">
    
      <div class="item item-divider text-center" ng-if="!feeds.length">
        Belum ada info dari {{ type }} !
      </div>
      <br>
    
      <div class="list" ng-repeat="data in feeds">
    
         <div class="item item-thumbnail-right" ng-click="showDetailInfo(data)" >
           <img ng-src="https://dummyimage.com/600x400/d3d3d3/000000.jpg&text=?" ng-if="!data.photos.length">
            <img ng-src="{{ApiEndpoint.main+'img/'+photo.nama_gambar}}"ng-repeat="photo in data.photos" ng-if="data.photos.length" >
              <h2 >{{ data.judul_info }}</h2>
              <p style="max-height: 62px;max-width: 202px !important;white-space:normal;">{{ data.isi_info }}</p>

          <div class="item item-avatar absolute pertama ">
            <img class="avatarnya" src="https://dummyimage.com/600x400/d3d3d3/000000.jpg&text=?" ng-if="!data.usaha.img_usaha"> 

            <img class="avatarnya" ng-src="{{ApiEndpoint.main+'img/'+data.usaha.img_usaha}}" ng-if="data.usaha.img_usaha">
            <h5>by {{ data.usaha.nama_usaha }}</h5>
            <h6>{{data.created_at}}</h6>
          </div>
          </div>
         
 
      </div>

  </ion-content>

</ion-view>
