<ion-view title="Lihat Daftar">
    <ion-nav-buttons side="right" class="has-header">
      <button class="button button-icon icon ion-android-more-horizontal"></button>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item" ng-class="{ 'active' : type=='travel' }" ng-click="changeInfo('travel')">
          Travel
        </a>
        <a class="tab-item" ng-class="{ 'active' : type=='rental' }" ng-click="changeInfo('rental')">
          Rental
        </a>
      </div>
    </div>
    <ion-content class="has-subheader">

      <div class="item item-divider text-center" ng-if="!items.length">
        Belum ada daftar {{ type }} !
      </div>
      <div class="list list-inset" ng-if="items.length">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="query" placeholder="Search">
        </label>
      </div>
      <div class="list list-inset">

          <div class="item" ng-repeat="data in items | filter : query" ng-if="type == 'travel'"  ng-click="detilusaha(data)">
            {{ data.nama_usaha }}
          </div>

          <div class="item" ng-repeat="data in items | filter : query" ng-if="type == 'rental'" ng-click="detilusaha(data)">
            {{ data.nama_usaha }}
          </div>

      </div>

  </ion-content>

</ion-view>
