
<ion-view title="Detil Usaha">

      <div>
         <div class="item item-avatar detil ukurandetil">
            <img class="gambarusaha" style="max-width: 129px;max-height:129px;width:100%;height: 100%;border-radius: 50%;"ng-src="https://dummyimage.com/600x400/d3d3d3/000000.jpg&text=?" ng-if="!dataEditUsaha.img_usaha"> 
            <img class="gambarusaha" style="max-width: 129px;max-height:129px;width:100%;height: 100%;border-radius: 50%;" ng-src="{{ApiEndpoint.main+'img/'+dataEditUsaha.img_usaha}}" ng-if="dataEditUsaha.img_usaha">

             <button class="button tombolinformasi button-icon button-dark button-clear ion-ios-information-outline"></button>
        </div>  

          <p style="text-align: center;">nama usaha</p>
          <p style="text-align: center;">nama pengelola</p>

        <div class="tabs-striped garis-detilusaha tabs-background-energized tabs-color-light">
          <div class="tabs tab-detilusaha">
            <a class="tab-item">
              Info Usaha
            </a>
            <a class="tab-item" >
              Item Rental
            </a>
          </div>
        </div>

      </div>


    <ion-content padding="true" class="wee">
    
      <form class="list">
        <label class="item item-input" >
          <span class="input-label">Alamat</span>&nbsp;:&nbsp;
          <span >alamat usaha</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Kategori</span>&nbsp;:&nbsp;
          <span >kategori usaha</span>
        </label>
        <label class="item item-input" >
          <span class="input-label">Latitude</span>&nbsp;:&nbsp;
          <span >latitude usaha</span>
        </label>
        <label class="item item-input">
          <span class="input-label">Longitude</span>&nbsp;:&nbsp;
          <span >longitude usaha</span>
        </label>
         <label class="item item-input item-stacked-label"  >
          <span class="input-label">Deskripsi usaha</span><textarea placeholder="" ></textarea></label>
      </form>

      <br>
      <br>
   <button class="button button button-icon button-positive button-clear button-block ion-android-bicycle" ><h5>Cari Lokasi</h5></button>
  </ion-content>
   
 
</ion-view>
 