<ion-view title="Tambah Info Usaha" id="page31" style="">
  <ion-content padding="true" class="has-header">

     <form name="formItem" class="list" ng-submit="storeStatus(formItem.$valid,statusData)">


        <span class="input-label">Isi Info </span>
        <label class="item item-input-float">
          <textarea ng-model="statusData.isi_info" style="width: 370px;height: 190px;" required> </textarea>
        </label>  

      <button type="submit" ng-click="loadImage()" class="button button-small button-icon ion-android-attach" ng-disabled="image">
        </button>   

    </form>

    <button type="submit" ng-click="uploadImage(statusData)" ng-disabled="formItem.$invalid || feedStatus.status" class="button button-positive button-small button-block">
          {{ feedStatus.text }}
    </button>

  </ion-content>
</ion-view>

  