<ion-view title="Detil  Item Rental" id="page22" style="">
  <ion-content padding="true" class="has-header">

    <form id="detilItemRental-form19" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div> <br>
      <label class="item item-input" id="detilItemRental-input42">
        <span class="input-label">Nama Kendaraan</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="detilItemRental-input43">
        <span class="input-label">Jenis Kendaraan</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="detilItemRental-input44">
        <span class="input-label">Satuan Sewa</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-select" id="detilItemRental-select9">
        <span class="input-label">Bahan Bakar</span>
        <select>
          <option>Solar</option>
          <option>Bensin</option>
          <option>Pertamax</option>
          <option>Lainnya</option>
        </select>
      </label>
      <label class="item item-input" id="detilItemRental-input45">
        <span class="input-label">Harga</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <form id="detilItemRental-form20" class="list">
      <label class="item item-input" id="detilItemRental-textarea8">
        <span class="input-label">Deskripsi</span><textarea placeholder=""></textarea></label>
    </form>

  </ion-content>
</ion-view>