<ion-view title="Detil Item Travel" id="page23" style="">
  <ion-content padding="true" class="has-header">
    <form id="detilItemTravel-form21" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <label class="item item-input" id="detilItemTravel-input46">
        <span class="input-label">Tujuan</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="detilItemTravel-input47">
        <span class="input-label">Kendaraan</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="detilItemTravel-input48">
        <span class="input-label">Waktu Tempuh</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="detilItemTravel-input49">
        <span class="input-label">Tarif</span>
        <input placeholder="" type="text">
      </label>
   
    </form>
    <form id="detilItemTravel-form22" class="list">
      <label class="item item-input" id="detilItemTravel-textarea9">
        <span class="input-label">Fasilitas</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>