<ion-view title="List Travel" > 
  <ion-content padding="true" class="has-header">
    <ion-list id="listTravel-list11">
      <div class="item item-divider text-center" ng-if="!items.length">
        Belum ada item {{ type }}, buat satu !
      </div>
      <ion-item class="item-thumbnail-left" ng-repeat="data in items track by $index" ng-click="showDetailTravel(data)">
        <img src="https://dummyimage.com/600x400/000/fff&text=GambarHaha" ng-if="!data.photos.length"> 
        <img ng-src="{{ApiEndpoint.main+'img/'+photo.nama_gambar}}" ng-show="$index==0" ng-if="data.photos.length" ng-repeat="photo in data.photos">
        <h2>{{ data.tujuan_itemtravel }}</h2>
        <p>Waktu</p>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>