<ion-view title="Detail item Info" id="page34" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="detailItemInfo-heading4" style="color: rgb(0, 0, 0);">Judul</h1>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="detailItemInfo-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Omnis enim est natura diligens sui. Erat enim Polemonis. Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Quare hoc videndum est, possitne nobis hoc ratio philosophorum
        dare. &lt;/p&gt;</p>
    </div>
  </ion-content>
</ion-view>