<ion-view title="Dashboard ">
  <ion-content class="has-header padding">

    <div class="row">
      <div class="col-50 text-center">
        <button class="button button-full button-icon ion-android-create" style="font-size:36px;" ui-sref="app.user-feed"></button>
        <h3>Status</h3>
      </div>
      <div class="col-50 text-center" ng-if="brand.kategori_usaha == 'rental'">
        <button class="button button-full button-icon ion-android-bicycle" style="font-size:36px;" ui-sref="app.list-rental({ type : 'rental'})"></button>
        <h3>Items rental</h3>
      </div>
      <div class="col-50 text-center" ng-if="brand.kategori_usaha == 'travel'">
        <button class="button button-full button-icon ion-android-bicycle" style="font-size:36px;" ui-sref="app.list-travel({ type : 'travel'})"></button>
        <h3>Items travel</h3>
      </div>
    </div>

  </ion-content>
</ion-view>

