
<ion-view title="Feed from {{ brand.nama_usaha }}">
 <ion-nav-buttons side="right" class="has-header">
    <button class="button icon button-small ion-compose button-clear" ui-sref="app.tambahinfo-usaha"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
  

      <div class="item item-divider text-center" ng-if="!feeds.length">
        Belum ada status, buat satu !
      </div>

      <ion-item class="item-avatar" ng-repeat="data in feeds"  ng-click="showDetailInfo(data)">
        
        <h3>Posted On : {{ data.created_at}}</h3>
        <p>{{ data.isi_info }}</p>
         <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteFeed(data)"> Delete </ion-option-button>
         <ion-option-button class="button-positive icon ion-edit" ng-click="editInfo(data)"> Edit </ion-option-button>
          
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>


